
#map {
  height: 1000px;
  width: 100%;
  z-index: 0;
}

#daterangepicker {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
}

#refreshButton {
  position: absolute;
  top: 100px;
  right: 20px;
  padding: 10px;
  background-color: white;
}